# Ignore virtual environment folders
venv/
env/

# Ignore static and media files (if you're using AWS S3 or similar, adjust accordingly)
static/
media/

# Ignore database files
db.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore local settings file
local_settings.py

# Ignore secret keys and sensitive information (store them using environment variables)
*.env
